<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>Manage Wallet</h2>

    <div class="uk-card uk-card-default">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Wallet Information</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>
          <div class="uk-width-1-4">Wallet ID:</div>
          <div class="uk-width-3-4">{{ wallet.id }}</div>
        </div>
        <div uk-grid>
          <div class="uk-width-1-4">Wallet Status:</div>
          <div class="uk-width-3-4">
            <span *ngIf="wallet.locked">Locked</span>
            <span *ngIf="!wallet.locked">Unlocked</span>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Change Wallet Password</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>
          <div class="uk-width-1-2">
            <input class="uk-input" [(ngModel)]="newPassword" placeholder="New Password" type="password">
          </div>
          <div class="uk-width-1-2">
            <input class="uk-input" [(ngModel)]="confirmPassword" placeholder="Confirm New Password" type="password">
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="changePassword()" class="uk-button uk-button-secondary">Update Password</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">Backup Wallet Seed</h3>
      </div>
      <div class="uk-card-body">
        <p>
          Because of a limitation in the RaiBlocks RPC Api, you are unable to retrieve your wallet seed from within this
          application.  Use the native RaiBlocks wallet to back up your seed.
        </p>
      </div>
    </div>


  </div>
</div>



<!--<h3>Backup Wallet</h3>-->
<!--<button (click)="backupWallet()" class="uk-button uk-button-primary">Backup Wallet Seed</button>-->
